/*HEADER*/

@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.site-container{
  min-height: calc(100vh - 5%);
}

nav {
    background-color: rgba(210, 250, 243, 0.897);
    background-size: cover;
    height: 70px;
    width: 100%;
}

.logo-container{
    align-items: center;
    font-family:'Kalnia', sans-serif;
    font-size: 1.5rem;
    color:rgba(2, 2, 2, 0.568);
    white-space:nowrap;
    text-align: center;
    height: 60%;
}

.menu-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space:nowrap;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.623);
    height: 40%;
    width: 100%;
}


.logo:hover{
    cursor: default;
}

.menu-links li{
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.menu-links a:hover {
    color:darkcyan;
    text-underline-offset:5px;
    text-decoration-color: rgb(121, 207, 191);
    font-weight: bold;
}

.menu-links a{
    color:rgba(0, 0, 0, 0.76);
    text-decoration:none;
}

.nav-link.active {
  font-weight: bold;
  font-size: large;
  color: darkcyan;
}

/*HEM*/

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* padding: 2% 10%; */
    min-height: calc(100vh - 70px - 2.5rem);
}

.row{
    display: flex;
    flex-direction: row;
}

.text-container {
    text-align: center;
    padding-left: 10rem;
    margin-top: 20%;
    cursor: default;
}

.image-container img {
    max-width: 40vw;
    min-width: 10vw;
}

.icons{
    display: flex;
    background: #fff;
    justify-content: center;
}

.icons li.facebook {
  color: black; 
}

.icons li.instagram {
  color: black; 
}

.icons li.linkedin {
  color: black; 
}

.icons li{
    list-style-type: none;
    background: rgba(210, 250, 243, 0.733);
    width: 40px;
    height: 40px;
    margin: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}
.icons li:hover{
    background: #a5ece4;
    color:#333
}

.icons li a {
  color: inherit; 
  text-decoration: none; 
}

.icons li a:hover {
  color: inherit; 
}


/*KONTAKT*/

.contact-container{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin: 5%;
}

.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 5%;
    cursor:default;
}

/*KONTAKT FORMULÄR*/
.contact-image{
    max-width: 45%;
    max-height: 45%;
    left:0;
    border-radius: 20px;
    margin-right: 10px;
}
.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1em;
    border-radius: 20px;
    background-color: rgba(210, 250, 243, 0.733);
    justify-content: center;
    align-items: center;
}

.form-container label {
    margin: 0.5em 0;
}

input[type=submit], [type=reset]{
    margin-top: 1em;
    background-color: whitesmoke;
    padding: 2% 8px;
    cursor:pointer;
    transition: transform .5s;

}
input[type=submit]:hover, [type=reset]:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.1)
}

input[type=text],[type=email],[type=number],[id=message]{
    color: rgba(0, 0, 0, 0.904);
    margin:0;
    padding:0;
}

input[type=text]::placeholder, input[type=email]::placeholder, input[type=number]::placeholder, textarea::placeholder {
    color: rgba(98, 126, 139, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}

.contact-container p{
    font-size: 12px;
    margin-top: 1em;
}

/*OM MIG*/

.about-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutme-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    min-width: 200px;
    padding: 2em;
    border-radius: 10px;
    background-color: rgba(210, 250, 243, 0.733);
}

.about{
    justify-content:center;
    text-align:center;
    cursor: default;
}

.contact-button {
    background-color: rgba(138, 174, 168, 0.553);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}
.contact-button:hover{
    background-color:rgba(0, 0, 0, 0.562);
}

/*CV SIDA*/

.cv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(210, 250, 243, 0.733);
    width: 80%;
    padding: 5%;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
}

.interest-list li {
    list-style:inside;
}


.cv-img {
    width: 25%;
    height: auto;
    min-width: 160px;
    border-radius: 50%;
    border: 2px solid rgb(127, 186, 183);
}

.info-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
}

.work-textsymbol,
.education-textsymbol{
    text-align: center;
}

.educations,
.experiences{
    background-color: rgba(210, 250, 243, 0.733);
    padding: 5%;
    margin-top: 1%;
    width: 80%;   
}

.educations h2,
.experiences h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 1em;
}

.experiences {
  margin-bottom: 1em;
}

.experience,
.education {
  list-style: none;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.period {
  font-size: 16px;
  font-style:oblique;
}
.school {
  font-size: 18px;
}


/*Skill-list för språkkunskaper*/
.skill-list {
    list-style: none;
}

.skill-list p {
    margin-right: 5px;
}

.skill-list i {
    color: #000000;
    margin-right: 4px;
}

.skill-list .far {
    color: #ccc; 
}


/*PORTFOLIO*/
  
.portfolio-container {
    text-align: center;
    color: rgba(0, 0, 0, 0.685);
}

.repositories {
  margin: 1rem;
   list-style-type: none;
   font-size: larger;
   border-radius: 7px;
   padding: 3rem;
   background-color: rgba(210, 250, 243, 0.733);

}

.repositories a:link {
  color: black;
}

.repositories a:visited {
  color: rgb(75, 110, 109);
}

.repositories a:hover {
  color: black;
}

  /*FOOTER*/
footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    background-color:  rgba(0, 0, 0, 0.171);
    color: whitesmoke;
    text-align: center;
    line-height: 2.5em;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(29, 211, 196);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
